.header-global {
  z-index: 100;
  box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
  position: fixed;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  background: #3E6EF6;
  text-align: center;
  min-width: 1314px;
  width: 100%;
}
.header-global .el-menu.el-menu--horizontal {
  display: inline-block;
  border-bottom: none;
  height: 80px;
  line-height: 80px;
  background: #3E6EF6;
}
.header-global .el-menu.el-menu--horizontal .el-menu-item {
  color: #CADFF8;
  font-weight: 500;
  height: 80px;
  line-height: 80px;
}
.header-global .el-menu.el-menu--horizontal .el-menu-item.is-active,
.header-global .el-menu.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.header-global .el-menu.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
  color: #fff !important;
  border-bottom: 4px solid #fff;
  background-color: inherit;
  border-bottom-color: initial !important;
}
.header-global .el-menu.el-menu--horizontal .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-submenu {
  color: #CADFF8;
  font-weight: 500;
  height: 80px;
  line-height: 80px;
}
.header-global .el-menu.el-menu--horizontal .el-menu--horizontal > .el-submenu:focus .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-menu--horizontal > .el-submenu:hover .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-submenu__title:focus,
.header-global .el-menu.el-menu--horizontal .el-submenu__title:hover,
.header-global .el-menu.el-menu--horizontal .el-submenu.is-active .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-submenu:focus .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-submenu:hover .el-submenu__title,
.header-global .el-menu.el-menu--horizontal .el-submenu__title i {
  background-color: inherit;
  color: #fff;
}
.header-global .name-image {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-left: 32px;
  width: 300px;
}
.header-global .name-image > img {
  margin-right: 12px;
  position: absolute;
  top: 18px;
}
.header-global .name-image > .detail {
  margin-left: 56px;
}
.header-global .user {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 14px;
  cursor: pointer;
}
.header-global .user > div .icon-early-warn {
  font-size: 22px;
  color: #fff;
}
.header-global .user > div .el-badge__content.is-fixed {
  top: 28px;
}
.header-global .user > div > .el-avatar {
  width: 24px;
  height: 24px;
  margin-top: 28px;
  margin-right: 12px;
  margin-left: 12px;
}
.header-global .user > div .el-dropdown {
  height: 50px;
}
.header-global .user > div .el-dropdown > span {
  color: #fff;
}
.el-menu--horizontal .el-menu--popup-bottom-start {
  margin-top: 0 !important;
}
.el-menu--horizontal .el-menu .el-menu-item {
  color: #515F69;
}
.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu .el-menu-item:not(.is-disabled):hover {
  color: #3E6EF6 !important;
  background: #F5F9FF;
}
.el-menu--horizontal > .el-submenu:focus .el-submenu__title {
  background-color: inherit;
  color: #fff;
}
.home-global {
  height: 100%;
  display: flex;
}
.home-global .el-aside {
  position: fixed;
  left: 0;
  z-index: 2;
  height: 100%;
  background: #fff;
  width: 214px;
  flex: 0 0 214px;
}
.home-global .el-aside .el-menu {
  border: none;
  background-color: #fff;
  font-size: 14px;
}
.home-global .el-aside .el-menu .el-submenu__title {
  font-weight: 500;
  color: #242D33 !important;
}
.home-global .el-aside .el-menu .el-submenu__title i {
  font-size: 14px;
  margin-right: 8px;
  margin-left: 12px;
  color: #242D33 !important;
}
.home-global .el-aside .el-menu .el-submenu__title:focus,
.home-global .el-aside .el-menu .el-submenu__title:focus > i,
.home-global .el-aside .el-menu .el-submenu__title:hover,
.home-global .el-aside .el-menu .el-submenu__title:hover > i,
.home-global .el-aside .el-menu .el-submenu__title.is-active,
.home-global .el-aside .el-menu .el-submenu__title.is-active > i {
  color: #3E6EF6 !important;
  background-color: initial;
  outline: 0;
}
.home-global .el-aside .el-menu .el-menu-item {
  font-weight: 500;
  color: #242D33 !important;
}
.home-global .el-aside .el-menu .el-menu-item i {
  font-size: 14px;
  margin-right: 8px;
  margin-left: 12px;
  color: #242D33 !important;
}
.home-global .el-aside .el-menu .el-menu-item:focus,
.home-global .el-aside .el-menu .el-menu-item:focus > i,
.home-global .el-aside .el-menu .el-menu-item:hover,
.home-global .el-aside .el-menu .el-menu-item:hover > i,
.home-global .el-aside .el-menu .el-menu-item.is-active,
.home-global .el-aside .el-menu .el-menu-item.is-active > i {
  color: #3E6EF6 !important;
  background-color: initial;
  outline: 0;
}
.home-global .el-aside .el-menu .el-menu-item:focus,
.home-global .el-aside .el-menu .el-menu-item:focus > i,
.home-global .el-aside .el-menu .el-menu-item:hover,
.home-global .el-aside .el-menu .el-menu-item:hover > i,
.home-global .el-aside .el-menu .el-menu-item.is-active,
.home-global .el-aside .el-menu .el-menu-item.is-active > i {
  color: #3E6EF6 !important;
  background-color: #F5F9FF;
  outline: 0;
}
.home-global .el-main {
  background-color: #F5F6F7;
  min-width: 1100px;
  display: inline-block;
  padding: 0;
  flex: 1;
  margin-top: 80px;
  margin-left: 214px;
}
.home-global .el-main .home-main {
  margin-top: 50px;
  overflow-y: auto;
}
.el-menu--vertical .el-menu--popup {
  background: #070B1A;
  color: #fff;
  margin: 0;
}
.el-menu--vertical .el-menu--popup .el-menu-item:focus,
.el-menu--vertical .el-menu--popup .el-menu-item:focus > i,
.el-menu--vertical .el-menu--popup .el-menu-item:hover,
.el-menu--vertical .el-menu--popup .el-menu-item:hover > i,
.el-menu--vertical .el-menu--popup .el-menu-item.is-active,
.el-menu--vertical .el-menu--popup .el-menu-item.is-active > i {
  color: #fff !important;
  background-color: initial;
  outline: 0;
}
.el-select__tags .el-select__tags-text {
  max-width: 200px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
}
body {
  overflow: hidden;
}
